/* =====================================
   CONTAINER
===================================== */

.container{

    width:min(
        100% - 40px,
        var(--container)
    );

    margin-inline:auto;

}

/* =====================================
   SECTIONS
===================================== */

section{

    padding:100px 0;

}

/* =====================================
   GRID
===================================== */

.grid{

    display:grid;

}

.flex{

    display:flex;

}